<?xml version="1.0" encoding="utf-8"?>
<!--
  Khung P0-06: chưa xin quyền nào. Mọi quyền thêm sau phải khớp docs/PLAY-POLICY.md
  (cấm SMS, nhật ký cuộc gọi, danh bạ, QUERY_ALL_PACKAGES, REQUEST_INSTALL_PACKAGES, Accessibility, Notification Listener).
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.HoiCon">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
